In [2]:
# this script cleans the original dataset
# data preparation > data cleaning
import pandas as pd
df = pd.read_excel("CAN_short_20220504.xlsx")
print(df.head())

               Unnamed: 0  DataTank.TemperaturTank  Unnamed: 2  \
0 2022-05-04 12:16:50.720                     16.0         NaN
1 2022-05-04 12:16:50.739                     16.0         NaN
2 2022-05-04 12:16:50.759                     16.0         NaN
3 2022-05-04 12:16:50.790                     16.0         NaN
4 2022-05-04 12:16:50.809                     16.0         NaN

               Unnamed: 3  DieselData.DieselRPM  Unnamed: 5  \
0 2022-05-04 12:16:50.720                 799.0         NaN
1 2022-05-04 12:16:50.739                 799.0         NaN
2 2022-05-04 12:16:50.759                 799.0         NaN
3 2022-05-04 12:16:50.790                 799.0         NaN
4 2022-05-04 12:16:50.809                 799.0         NaN

               Unnamed: 6  DieselData.Fuelconsumption  Unnamed: 8  \
0 2022-05-04 12:16:50.720                         2.2         NaN
1 2022-05-04 12:16:50.739                         2.1         NaN
2 2022-05-04 12:16:50.759                         2.1         NaN
3 2022-05-04 12:16:50.790                         2.1         NaN
4 2022-05-04 12:16:50.809                         2.1         NaN

               Unnamed: 9  ...  TankP.LeckoelP  Unnamed: 74  \
0 2022-05-04 12:16:50.720  ...             0.0          NaN
1 2022-05-04 12:16:50.739  ...             0.1          NaN
2 2022-05-04 12:16:50.759  ...             0.0          NaN
3 2022-05-04 12:16:50.790  ...             0.0          NaN
4 2022-05-04 12:16:50.809  ...             0.1          NaN

              Unnamed: 75  TankP.LenkungA  Unnamed: 77  \
0 2022-05-04 12:16:50.711             0.2          NaN
1 2022-05-04 12:16:50.721             0.3          NaN
2 2022-05-04 12:16:50.731             0.3          NaN
3 2022-05-04 12:16:50.741             0.3          NaN
4 2022-05-04 12:16:50.751             0.3          NaN

              Unnamed: 78  TankP.LenkungB  Unnamed: 80  \
0 2022-05-04 12:16:50.711            11.9          NaN
1 2022-05-04 12:16:50.721            11.9          NaN
2 2022-05-04 12:16:50.731            11.9          NaN
3 2022-05-04 12:16:50.741            11.9          NaN
4 2022-05-04 12:16:50.751            11.9          NaN

              Unnamed: 81  TankP.TankP
0 2022-05-04 12:16:50.711          4.3
1 2022-05-04 12:16:50.721          4.3
2 2022-05-04 12:16:50.731          4.3
3 2022-05-04 12:16:50.741          4.3
4 2022-05-04 12:16:50.751          4.3

[5 rows x 83 columns]

In [3]:
df.head(3)

,Unnamed: 0,DataTank.TemperaturTank,Unnamed: 2,Unnamed: 3,DieselData.DieselRPM,Unnamed: 5,Unnamed: 6,DieselData.Fuelconsumption,Unnamed: 8,Unnamed: 9,...,TankP.LeckoelP,Unnamed: 74,Unnamed: 75,TankP.LenkungA,Unnamed: 77,Unnamed: 78,TankP.LenkungB,Unnamed: 80,Unnamed: 81,TankP.TankP
0,2022-05-04 12:16:50.720,16.0,NaN,2022-05-04 12:16:50.720,799.0,NaN,2022-05-04 12:16:50.720,2.2,NaN,2022-05-04 12:16:50.720,...,0.0,NaN,2022-05-04 12:16:50.711,0.2,NaN,2022-05-04 12:16:50.711,11.9,NaN,2022-05-04 12:16:50.711,4.3
1,2022-05-04 12:16:50.739,16.0,NaN,2022-05-04 12:16:50.739,799.0,NaN,2022-05-04 12:16:50.739,2.1,NaN,2022-05-04 12:16:50.739,...,0.1,NaN,2022-05-04 12:16:50.721,0.3,NaN,2022-05-04 12:16:50.721,11.9,NaN,2022-05-04 12:16:50.721,4.3
2,2022-05-04 12:16:50.759,16.0,NaN,2022-05-04 12:16:50.759,799.0,NaN,2022-05-04 12:16:50.759,2.1,NaN,2022-05-04 12:16:50.759,...,0.0,NaN,2022-05-04 12:16:50.731,0.3,NaN,2022-05-04 12:16:50.731,11.9,NaN,2022-05-04 12:16:50.731,4.3

In [4]:
df = df.dropna(axis=1, how='all')
for i in range(1, 82):
    try:
        df = df.drop([f'Unnamed: {i}'], axis=1)
    except KeyError: continue

df.head()

,Unnamed: 0,DataTank.TemperaturTank,DieselData.DieselRPM,DieselData.Fuelconsumption,DieselData.NAFGear,DieselData.OperatHours,DieselData.Speed,MaschineStatus.AllradAus,MaschineStatus.AmbientPressure,MaschineStatus.AmbientTemp,...,MaschineStatus.HydroOilLevelLow,MaschineStatus.WorkHydraulikAktiv,Pumpe_Ibc_Obc_Druck.IbcP,Pumpe_Ibc_Obc_Druck.ObcP,Pumpe_Ibc_Obc_Druck.PumpeLS,Pumpe_Ibc_Obc_Druck.PumpeP,TankP.LeckoelP,TankP.LenkungA,TankP.LenkungB,TankP.TankP
0,2022-05-04 12:16:50.720,16.0,799.0,2.2,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.2,11.9,4.3
1,2022-05-04 12:16:50.739,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3
2,2022-05-04 12:16:50.759,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
3,2022-05-04 12:16:50.790,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
4,2022-05-04 12:16:50.809,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3

In [5]:
df.rename(columns={"Unnamed: 0": "Time"}, inplace=True)
df.head()

,Time,DataTank.TemperaturTank,DieselData.DieselRPM,DieselData.Fuelconsumption,DieselData.NAFGear,DieselData.OperatHours,DieselData.Speed,MaschineStatus.AllradAus,MaschineStatus.AmbientPressure,MaschineStatus.AmbientTemp,...,MaschineStatus.HydroOilLevelLow,MaschineStatus.WorkHydraulikAktiv,Pumpe_Ibc_Obc_Druck.IbcP,Pumpe_Ibc_Obc_Druck.ObcP,Pumpe_Ibc_Obc_Druck.PumpeLS,Pumpe_Ibc_Obc_Druck.PumpeP,TankP.LeckoelP,TankP.LenkungA,TankP.LenkungB,TankP.TankP
0,2022-05-04 12:16:50.720,16.0,799.0,2.2,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.2,11.9,4.3
1,2022-05-04 12:16:50.739,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3
2,2022-05-04 12:16:50.759,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
3,2022-05-04 12:16:50.790,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
4,2022-05-04 12:16:50.809,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3

In [6]:
df.head()

,Time,DataTank.TemperaturTank,DieselData.DieselRPM,DieselData.Fuelconsumption,DieselData.NAFGear,DieselData.OperatHours,DieselData.Speed,MaschineStatus.AllradAus,MaschineStatus.AmbientPressure,MaschineStatus.AmbientTemp,...,MaschineStatus.HydroOilLevelLow,MaschineStatus.WorkHydraulikAktiv,Pumpe_Ibc_Obc_Druck.IbcP,Pumpe_Ibc_Obc_Druck.ObcP,Pumpe_Ibc_Obc_Druck.PumpeLS,Pumpe_Ibc_Obc_Druck.PumpeP,TankP.LeckoelP,TankP.LenkungA,TankP.LenkungB,TankP.TankP
0,2022-05-04 12:16:50.720,16.0,799.0,2.2,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.2,11.9,4.3
1,2022-05-04 12:16:50.739,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3
2,2022-05-04 12:16:50.759,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
3,2022-05-04 12:16:50.790,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
4,2022-05-04 12:16:50.809,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3

In [7]:
#(df["Time"] - df["Time"][0]).total_seconds()
ref = df["Time"][0]
df["ReferenceTime"] = df.apply(lambda x: (x["Time"] - ref).total_seconds(), axis=1)

In [8]:
df.head()

,Time,DataTank.TemperaturTank,DieselData.DieselRPM,DieselData.Fuelconsumption,DieselData.NAFGear,DieselData.OperatHours,DieselData.Speed,MaschineStatus.AllradAus,MaschineStatus.AmbientPressure,MaschineStatus.AmbientTemp,...,MaschineStatus.WorkHydraulikAktiv,Pumpe_Ibc_Obc_Druck.IbcP,Pumpe_Ibc_Obc_Druck.ObcP,Pumpe_Ibc_Obc_Druck.PumpeLS,Pumpe_Ibc_Obc_Druck.PumpeP,TankP.LeckoelP,TankP.LenkungA,TankP.LenkungB,TankP.TankP,ReferenceTime
0,2022-05-04 12:16:50.720,16.0,799.0,2.2,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0,2.4,3.6,33.2,0.0,0.2,11.9,4.3,0.000
1,2022-05-04 12:16:50.739,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3,0.019
2,2022-05-04 12:16:50.759,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3,0.039
3,2022-05-04 12:16:50.790,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3,0.070
4,2022-05-04 12:16:50.809,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,20.0,...,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3,0.089

In [9]:
df = df.iloc[0:969]

In [10]:
col = df.pop('ReferenceTime')
df.insert(1, col.name, col)
df.head()

,Time,ReferenceTime,DataTank.TemperaturTank,DieselData.DieselRPM,DieselData.Fuelconsumption,DieselData.NAFGear,DieselData.OperatHours,DieselData.Speed,MaschineStatus.AllradAus,MaschineStatus.AmbientPressure,...,MaschineStatus.HydroOilLevelLow,MaschineStatus.WorkHydraulikAktiv,Pumpe_Ibc_Obc_Druck.IbcP,Pumpe_Ibc_Obc_Druck.ObcP,Pumpe_Ibc_Obc_Druck.PumpeLS,Pumpe_Ibc_Obc_Druck.PumpeP,TankP.LeckoelP,TankP.LenkungA,TankP.LenkungB,TankP.TankP
0,2022-05-04 12:16:50.720,0.000,16.0,799.0,2.2,2.0,1435.0,0.0,0.0,0.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.2,11.9,4.3
1,2022-05-04 12:16:50.739,0.019,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3
2,2022-05-04 12:16:50.759,0.039,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
3,2022-05-04 12:16:50.790,0.070,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,...,0.0,0.0,0,2.4,3.6,33.2,0.0,0.3,11.9,4.3
4,2022-05-04 12:16:50.809,0.089,16.0,799.0,2.1,2.0,1435.0,0.0,0.0,0.0,...,0.0,0.0,0,2.4,3.6,33.2,0.1,0.3,11.9,4.3

In [11]:
df.to_excel("CAN_short_20220504_cleaned.xlsx", index=False)